<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="d-flex">
        @RenderBody()
        <div class="bg-secondary text-white">ciao, io sono sidebar</div>
    </div>
</body>
</html>
