@{
    ViewData["Title"] = "Pizzeria Piana";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - la_mia_pizzeria_static</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="card mt-2" style="width: 18rem;">
        <img class="card-img-top" src="~/Img/pizza-margherita.jfif" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">Pizza Margherita</h5>
        <p class="card-text">Descrzione della Pizza</p>
        <p class="card-text">Prezzo della Pizza: 5€</p>
      </div>

    </div>

    <div class="card mt-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Img/pizza-quattro-formaggi.jfif" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">Pizza Quattro Formaggi</h5>
        <p class="card-text">Descrzione della Pizza</p>
        <p class="card-text">Prezzo della Pizza: 7€</p>
      </div>

    </div>

    <div class="card mt-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Img/pizza-quattro-stagioni.jfif" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">Pizza Quattro Stagioni</h5>
        <p class="card-text">Descrzione della Pizza</p>
        <p class="card-text">Prezzo della Pizza: 7€</p>
      </div>

    </div>

    <div class="card mt-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Img/pizza-margherita.jfif" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">Pizza Margherita</h5>
        <p class="card-text">Descrzione della Pizza</p>
        <p class="card-text">Prezzo della Pizza: 5€</p>
      </div>

    </div>

    <div class="card mt-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Img/pizza-quattro-formaggi.jfif" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">Pizza Quattro Formaggi</h5>
        <p class="card-text">Descrzione della Pizza</p>
        <p class="card-text">Prezzo della Pizza: 7€</p>
      </div>

    </div>

    <div class="card mt-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Img/pizza-quattro-stagioni.jfif" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">Pizza Quattro Stagioni</h5>
        <p class="card-text">Descrzione della Pizza</p>
        <p class="card-text">Prezzo della Pizza: 7€</p>
      </div>

    </div>

    <div class="card mt-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Img/pizza-margherita.jfif" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">Pizza Margherita</h5>
        <p class="card-text">Descrzione della Pizza</p>
        <p class="card-text">Prezzo della Pizza: 5€</p>
      </div>

    </div>

    <div class="card mt-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Img/pizza-quattro-formaggi.jfif" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">Pizza Quattro Formaggi</h5>
        <p class="card-text">Descrzione della Pizza</p>
        <p class="card-text">Prezzo della Pizza: 7€</p>
      </div>

    </div>

    <div class="card mt-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Img/pizza-quattro-stagioni.jfif" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">Pizza Quattro Stagioni</h5>
        <p class="card-text">Descrzione della Pizza</p>
        <p class="card-text">Prezzo della Pizza: 7€</p>
      </div>

    </div>
    

</body>
</html>
